@import url(https://fonts.googleapis.com/css?);
@font-face {
  font-family: "SnellRoundhandW01-Scrip";
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/fea0fb7b-884b-4567-a6dc-addb8e67baaa.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/fea0fb7b-884b-4567-a6dc-addb8e67baaa.eot?#iefix") 
  format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/efbfc170-aaf0-4472-91f4-dbb5bc2f4c59.woff") 
  format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d974669d-978c-4bcf-8843-b2b7c366d097.ttf") 
  format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/5b2427b5-3c1e-4b17-9f3c-720a332c9142.svg#5b2427b5-3c1e-4b17-9f3c-720a332c9142") 
  format("svg");
  font-display: block;
}
.dtext{
  font-family: snellroundhandw01-scrip,cursive;
  font-style: italic;
  font-size:48px;
  font-weight:bold;
   
  line-height:1.3em; 
  text-align:center;
  color: black;
}

@media (max-width:625px) {
  .bimg{
    width: 55% !important;
    
  } 
}

/*-- banner --*/
.w3l-banner {
    /* background: url(../images/banner1.jpg) no-repeat center; */
    -ms-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
  }
  
  .w3l-banner:before {
    content: "";
    /* background: rgba(103, 58, 183, 0.8); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
  .w3l-banner h3 {
    color: #fff;
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  }
  
  .w3l-banner h3 sup {
    font-size: 17px;
  }
  
  .banner-info-grid {
    max-width: 1000px;
    margin: auto;
  }
  
  .w3l-banner p {
    color: #fff;
  }
  
  @media (max-width: 1080px) {
    .w3l-banner h3 {
      font-size: 80px;
      line-height: 80px;
    }
  }
  
  @media (max-width: 991px) {
  
  }
  @media (max-width: 768px) {
    .w3l-banner h3 {
      font-size: 65px;
      line-height: 65px;
    }
  }
  
  @media (max-width: 736px) {
   
  }
  
  @media (max-width: 568px) {
    .w3l-banner h3 {
      font-size: 45px;
      line-height: 45px;
    }
  }
  
  @media (max-width: 415px) {
    .w3l-banner h3 {
      font-size: 32px;
      line-height: 38px;
    }
  }
  
  /*-- //Banner --*/

  .myGallery {
    max-width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
 
  @media (max-width:992px) {
    .myGallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
  }

  @media (max-width:515px) {
    .myGallery {
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      }
  }
  
  .myGallery img {
    width: 100%;
  }

  .w3l-footers-20 input[type="email"] {
    background: var(--bg-grey);
    border: none;
    padding: 16px 20px;
    font-size: 15px;
    outline: none;
    width: 80%;
    color: var(--heading-color);
    border-radius: 4px 0 0 4px;
  }
  .w3l-footers-20 button {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 16px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    background: var(--primary-color);
    border-radius: 0 4px 4px 0;
  }
  